<div class="h-52 bg-tan flex justify-start px-24">
    <div class="flex w-1/4 gap-12">
        <div class="flex flex-col pt-4">
            <p class="text-xl font-semibold">Navigation:</p>
            <a href=""><p class="text-lg mt-3 text-gray-500">Home</p></a>
            <a href=""><p class="text-lg text-gray-500">Search</p></a>
            <a href=""><p class="text-lg text-gray-500">Genre</p></a>
            <a href=""><p class="text-lg text-gray-500">Author</p></a>
        </div>
        <div class="flex flex-col pt-11">
            <a href=""><p class="text-lg mt-3 text-gray-500">Language</p></a>
            <a href=""><p class="text-lg text-gray-500">Profile</p></a>
            <a href=""><p class="text-lg text-gray-500">Cart</p></a>
        </div>
    </div>
</div>