<div class="h-52 bg-tan flex justify-start px-24">
    <div class="flex w-1/4 gap-12">
        <div class="flex flex-col pt-4">
            <p class="text-xl font-semibold">Navigation:</p>
            <a href="http://localhost:8080/JAD_CA2-master/Pages/home.jsp"><p class="text-lg mt-3 text-gray-500">Home</p></a>
            <a href="http://localhost:8080/JAD_CA2-master/Pages/search.jsp"><p class="text-lg text-gray-500">Search</p></a>
            <a href="http://localhost:8080/JAD_CA2-master/Pages/BookGenre.jsp"><p class="text-lg text-gray-500">Genre</p></a>
            <a href="http://localhost:8080/JAD_CA2-master/Pages/User.jsp"><p class="text-lg text-gray-500">Profile</p></a>
        </div>
    </div>
</div>