<div class="h-52 bg-tan flex justify-start px-24">
    <div class="flex w-1/4 gap-12">
        <div class="flex flex-col pt-4">
            <p class="text-xl font-semibold">Navigation:</p>
            <a href=""><p class="text-lg mt-3">Home</p></a>
            <a href=""><p class="text-lg">Search</p></a>
            <a href=""><p class="text-lg">Genre</p></a>
            <a href=""><p class="text-lg">Author</p></a>
        </div>
        <div class="flex flex-col pt-11">
            <a href=""><p class="text-lg mt-3">Language</p></a>
            <a href=""><p class="text-lg">Profile</p></a>
            <a href=""><p class="text-lg">Cart</p></a>
        </div>
    </div>
</div>