<div class="bg-tan h-20 flex">
        <div class="basis-1/4 flex items-center ml-10">
            <a href="home.jsp" class="text-3xl font-semibold">BooksGalore</a>
        </div>
        <div class="basis-1/2 flex items-center justify-center gap-32">
            <a href="home.jsp" class="text-2xl font-semibold text-gray-500">Home</a>
            <a href="search.jsp" class="text-2xl font-semibold text-gray-500">Books</a>
            <a href="BookGenre.jsp" class="text-2xl font-semibold text-gray-500">Book By Genre</a>
        </div>
        <div class="basis-1/4 flex items-center gap-16 justify-end pr-16">
            <a href="Cart.jsp?custID=<%= session.getAttribute("custID") %>"><i class="fa-solid fa-2xl fa-cart-shopping"></i></a>
            <a href="JAD_CA1-master/CheckProfileExistence"><i class="fa-solid fa-user fa-2xl"></i></a>
        </div>
    </div>